 * {
  margin: 0;
  font-family: 'Mono', monospace;
  scroll-behavior: smooth;
}

::selection{
background: yellow;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1000px) {
  * {
  font-family: 'Sans';
  }
}

@font-face {
  font-family: 'Mono';
  src: url(/IBMPlexMono-Regular.woff);
}

@font-face {
  font-family: 'Serif';
  src: url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif");
}

@font-face {
  font-family: 'Sans';
  src: url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
}

*:hover {
}

*:focus  {
   }
  
 body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('/img/pres_jimmy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
      
   
/* Global Grid 
-------------------------------------------------------------------------------------------- */
   
.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: calc(2vw) calc(49vw) calc(49vw);
  grid-template-rows: calc(8vw) auto;  
}

.grid-container > div {
  border-right: 1px solid #200B02;
  border-top: 1px solid #200B02;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0s;
}
   
.grid-container > div:hover{
  outline: 2px solid #200B02;
  z-index: 10;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
   
/* News Navigation
-------------------------------------------------------------------------------------------- */

.news-container {
  color: #200B02;
  background-color: #BF0A30;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.news-container:hover {
  color: #BF0A30;
  background-color: #E1DEDD;
}
   
.news-marquee{
  display: inline-block;
  width: 4vw; /* important ~ double element size */
}

.news-marquee-element {
  float: left;
  width: 2vw;
  display: inline-block;
}

.news-letter  > div:first-child {
  border-top: 0px solid;
}

.news-letter {
  display: block;
  margin: 0;
  width: calc(2vw - 1px);
  height: calc(2vw - 1px);
  border-left: 1px solid;
  border-top: 1px solid;
  font-size: 1.5vw;
  line-height: calc(2vw - 1px);
}

/* Marquee Animation Request */
.news-marquee-element { 
  -webkit-animation: news-left 4s infinite linear; /* Match to (2s x # of articles i.e 2s x 4 = 8s) */
}


/* Marquee Animation */
@-webkit-keyframes news-left { 
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d( -2vw, 0, 0); /* Match to marquee height (2vw x # of articles i.e 2vw x 4 = 8vw) */
  }
}

/* Marquee Animation Pause */
.news-container:hover > .news-marquee > span { 
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

/* Writing Navigation
--------------------------------------------------------------------------------------------*/

/* Marquee Container */
.wri-mar-con {
  color: #200B02;
  background-color: #BF0A30;
  overflow: hidden;
  z-index: 15;
}

/* Marquee */
.wri-mar {
  height: 1000px; /*important! */
  display: block;
  position: relative;
}

/* Marquee Unit */
.wri-mar-ele {
  height: calc(2vw - 1px);
  border-top: 1px solid #200B02;
  display: grid;
  grid-template-columns: 25vw 12vw 12vw;
  font-size: 1.5vw;
}

.wri-mar-ele:hover {
  color: #BF0A30;
  background-color: #E1DEDD;
}

/* Marquee Unit */
.wri-mar-ele > div{
  text-align: left;
  padding-left: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1vw;
  line-height: 2vw;
}

.wri-mar-ele > div:nth-last-child(1) {
  text-align: right;
  padding-right: 1vw;
}

/* Marquee Animation Request */
.wri-mar-con > .wri-mar > div { 
  -webkit-animation: wri-up 16s infinite linear; /* Match to (2s x # of articles i.e 2s x 4 = 8s) */
}

/* Marquee Animation */
@-webkit-keyframes wri-up { 
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d( 0, -16vw, 0); /* Match to marquee height (2vw x # of articles i.e 2vw x 4 = 8vw) */
  }
}

/* Marquee Animation Pause */
.wri-mar-con:hover > .wri-mar > div { 
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
   
/* Projects Navigation
-------------------------------------------------------------------------------------------- */

/* Marquee Container (View Size) */
.pro-mar-con {
  cursor: pointer;
  background-color: #BF0A30;
  z-index: 3;
}

/* Marquee */
.pro-mar {
  width: 10000px; /*important! Greater than combined width of ALL elements */
}

/* Marquee Unit */
.pro-mar-ele{
  width: calc(8vw - 1px);
  height: 8vw;
  border-left: 1px solid #200B02;
  display: inline-block;
  float: left;
}
  
.pro-mar-ele > img{
  width: 6vw;
  height: 6vw;
  outline: 1px solid;
  outline-offset: -1px;
  margin: 1vw;
  overflow: hidden;
}

 /* pro nav tooltip  */

.pro-mar-ele .pro-mar-ele-fn-note {
  visibility: hidden;
  width: 49vw;
  color: #E1DEDD;
  background-color: #200B02;
  border: 1px solid #E1DEDD;
  text-align: center;
  padding: 5px 0;
  /* Position the tooltip */
  position: fixed;
  left: 51vw;
  top: 8vw;
  z-index: 1;
}

.pro-mar-ele:hover .pro-mar-ele-fn-note {
  visibility: visible;
}

.project-title{
  float: left;
  margin-left: 10px;
}

.project-details{
  float: right;
  margin-right: 10px;
}

/* Marquee Animation Request */
.pro-mar-unit { 
  -webkit-animation: projects-left 42s infinite linear;
}

/* Marquee Animation */
@-webkit-keyframes projects-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-56vw, 0, 0); /* Match to marquee width */
  }
}

/* Marquee Animation Pause */
.pro-mar:hover > div{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

.pro-mar-ele:hover {
  background-color: #E1DEDD;
} 

/* James Navigation
-------------------------------------------------------------------------------------------- */  

.james-container {
  color: #200B02;
  background-color: #BF0A30;
  overflow: hidden;
}

/* VERTICAL Marquee Start______________________________________________ */

/* Marquee Container - wider */
.jam-let-all {
  width: 2vw;
  height: calc(100% - 8vw);
  overflow: hidden;
  z-index: 1;
}

.jam-let-all:hover {
  color: #BF0A30;
  background-color: #E1DEDD;
}

/* Marquee Container */
.jam-let{ 
  width: 2vw; /* Width of ONE element */
  height: 2vw; /* Combined height of ALL elements */
  overflow: hidden;
}

/* Marquee */
.jam-let-mar {
  height: 1000px; /*important! */
  display: block;
  position: relative;
}

/* Marquee Unit */
.jam-let-mar-ele{
  text-align: center;
  width: calc(2vw - 1px);
  height: calc(2vw - 1px);
  font-size: 1.5vw;
  display: block;
  border-top: 1px solid #200B02;
}

/* Marquee Animation Request */
.jam-let > .jam-let-mar > div { 
  -webkit-animation: james-up 4s infinite linear;
}

/* Marquee Animation */
@-webkit-keyframes james-up { 
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d( 0, -4vw, 0); /* Match to marquee height */
  }
}

/* Marquee Animation Pause */
.jam-let-all:hover > .jam-let > .jam-let-mar > div { 
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
   
/*
  dark brown: #200B02;
  red: #BF0A30;
  grey: #E1DEDD;
*/


/* VERTICAL Marquee Start______________________________________________ */

/* Marquee Container - wider */
.con-let-all {
  border-top: 1px solid;
  color: #E1DEDD;
  background-color: #BF0A30;
  position: fixed;
  left: 0;
  bottom: 0vw;
  z-index: 10;
  border-top: 1px solid #200B02;
  cursor: pointer;
}

.con-let-all:hover {
  color: #BF0A30;
  background-color: #E1DEDD;
}

/* Marquee Container */
.con-let{ 
  width: 2vw; /* Width of ONE element */
  height: 2vw; /* Combined height of ALL elements */
  overflow: hidden;
}

/* Marquee */
.con-let-mar {
  height: 1000px; /*important! */
  display: block;
  position: relative;
}

/* Marquee Unit */
.con-let-mar-ele{
  text-align: center;
  width: 2vw;
  height: calc(2vw - 1px);
  font-size: 1.5vw;
  display: block;
  border-top: 1px solid #200B02;
}

/* Marquee Animation Request */
.con-let > .con-let-mar > div { 
  -webkit-animation: con-up 4s infinite linear;
}

/* Marquee Animation */
@-webkit-keyframes con-up { 
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d( 0, -4vw, 0); /* Match to marquee height */
  }
}

/* Marquee Animation Pause */
.con-let-all:hover > .jam-let > .jam-let-mar > div { 
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

/* Writing Section
--------------------------------------------------------------------------------------------   */

.writing-container {
  cursor: crosshair;
  color: #E1DEDD;
  background-color: #BF0A30;
}

.writing-container-grid {
  height: 100%;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  overflow: auto;
}

.article-margin {
  width: 2vw;
  height: 100%;
}

article {
  height: calc(100% - 20px);
  width: auto;
  margin-top: 10px;
  column-fill: auto;
  column-width: 300px;
  column-gap: 30px;
  column-rule: 1px solid;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  text-align-last: start;
}

article > a{
  color: inherit;
}
 
article:hover {
  column-rule: 1px solid #BF0A30;
}

article::selection {
  cursor: text;
  color: #BF0A30;
  background-color: #E1DEDD;
}

.writing-titles {
  margin-top: 10px;
  height: calc(50% - 10px);
  width: 100%;
  display: block;
  position: relative;
  text-align: left;
}

#publisher {
  float: left;
  width: 50%;
}

#year {
  float: right;
}

#heading {
  font-size: 1.5em;
  line-height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
} 

article > p {
  font-family: arial;
  margin-block-end: 10px;
}

.writing-container:hover > .writing-image{
  outline: 1px solid #200B02;
  outline-offset: -1px;
}

/* width */
.writing-container-grid::-webkit-scrollbar {
  height: 30px;
  cursor: pointer;
}

/* Track */
.writing-container-grid::-webkit-scrollbar-track {
  background-color: ;
  cursor: ;
  border: 1px solid #200B02;
}

/* Handle */
.writing-container-grid::-webkit-scrollbar-thumb {
  border: 1px solid #200B02;
  background-color: #BF0A30;
  cursor: ;
}
   
/* Handle on hover */
.writing-container-grid::-webkit-scrollbar-thumb:hover {
  background-color: #BF0A30; 
  cursor: grab;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
} 
   
.writing-container:hover{
  color: #BF0A30;
  background-color: #E1DEDD;
}

#next-article{
  padding-top: 50px;
  padding-right: 10px;
  float: right;
  cursor: pointer;
}
   
#next-article:hover{
  color: blue;
}
 
/* Writing Section - Image
--------------------------------------------------------------------------------------------   */

.writing-image{
  width: 175px;
  height: 175px;
  overflow: hidden;
  margin-left: -15px;
  outline: 1px solid;
  outline-offset: -1px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline;
}
   
.writing-image-hover {
  pointer-events: none;
  position: fixed;
  top: calc(50% + 4vw);
  left: 75.5vw;
  transform: translate(-50%, -50%);
  width: 49vw;
  height: calc(100% - 8vw);  
  background-color: #E1DEDD;
  transition: 1s ease;
  opacity: 0;
  outline: 1px solid;
  outline-offset: -1px;
}

.writing-image-hover-container {
  width: 70%;
  max-height: 80%;
  position: relative;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.writing-image-hover-container > img{
  width: 100%;
  border: 5px solid #BF0A30;
  display: inline-block;
}

#writing-image-hover-text{
  font-size:16px;
  width: 100%;
  color: #BF0A30;
  position: relative;
  display: inline-block;
}

article div.writing-image:hover > .writing-image-hover{
  opacity: 1;
}

/* Projects
-------------------------------------------------------------------------------------------- */

#project-container{
  font-size: 1em;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #BF0A30;
  color: #E1DEDD;
  cursor: crosshair;
  overflow: auto;
  text-align: center;
}

#project-container::selection {
  cursor: text;
  color: #BF0A30;
  background-color: #E1DEDD;
}

#project-container::-webkit-scrollbar{
 display: none;
}

#project-container:hover{
  background-color: #E1DEDD;
  color: #BF0A30;
}
   
.project-titles{
  margin: 5px 10px 50px 20px;
  text-align: left;
  font-weight: bold;
  position: sticky;
  float: left;
  top: 0;
  z-index: 50;
  width: 40%;
}

.project-image > img {
 width: calc(100% - 20px);
 overflow: hidden;
 margin: 5px 5px 0px 5px;
 outline: 1px solid;
 outline-offset: -1px;
}

.project-text{
  margin: 5px 20px 50px 0px;
  text-align: left;
  float: right;
  width: calc(50% - 10px);
  display: inline-block;
  position: relative;
}

.project-text a{
  color: inherit;
  text-decoration: ;
}

.photographer{
  font-size:12px;
  text-align:left;
  margin-left:10px;
}

#next{
  padding-top: 50px;
  padding-right: 10px;
  float: right;
  cursor: pointer;
}
   
#next:hover{
  color: green;
}

/* Project Image Hover
--------------------------------------------------------------------------------------------   */
/*
.project-image{
  width: 12vw;
  height: 12vw;
  overflow: hidden;
  margin-left: -1vw;
  outline: 2px solid #200B02;
  outline-offset: -1px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline;
  font-size:16px;
  color: white;
   }
   
.project-image-hover {
  pointer-events: none;
  position: fixed;
  top: calc(50% + 4vw);
  right: 24.5vw;
  transform: translate(-50%, -50%);
  width: 49vw;
  height: calc(100% - 8vw);  
  background-color: #BF0A30;
  transition: 1s ease;
  opacity: 0;
  outline: 2px solid #200B02;
}

.project-image-hover-container {
  width: 70%;
  max-height: 80%;
  position: relative;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-image-hover-container > img{
  width: 100%;
  border: 5px solid white;
  display: inline-block;
}

#project-image-hover-text{
  width: 100%;
  position: relative;
  display: inline-block;
}

#project-container > div > div.project-text > div.project-image:hover > .project-image-hover{
  opacity: 1;
}   


.projects-image-small:hover .projects-image-big{
  opacity: 1;
}
*/
