* { box-sizing: border-box; 
 font-family: 'IBM Plex Sans', sans-serif;
}

 *::selection{
  background: red;
  color: #e6e6e6;
}

body {
  padding: 50px; 
}

/*
img {
  height: 48.5vw;
  width: 48.5vw;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  position: fixed;
  top: 12vw;
  z-index: -5;
  right: 0;
}
*/

/* NEWS NAV */
.news{
 position: fixed;
 top: 0px;
 left: 0px;
 color: #e6e6e6;
 background-color: red;
}

.newsicon{
 width: 3vw;
 height: 3vw;
 border-bottom: 3px solid #e6e6e6;
 border-right: 3px solid #e6e6e6;
 text-align: center;
 font-size: 1.5vw;
 line-height: 3vw;
}

/* JAMES AND JIMMY NAV */

.jjnav{
 position: fixed;
 height: 100%;
 width: 3vw;
 top: 12vw;
 left: 0px;
 border-right: 3px solid red;
 z-index: 20;
 overflow: hidden;
}

.vertical {
  transform: rotate(90deg);
  width: 150vw;
  position: fixed;  
  top: -30vw;
  left: -73.5vw;
  z-index: 25;
}

.vertical-cell {
  width: 3vw;
  height: 3vw;
  border-top: 3px solid red;
  counter-increment: gallery-cell;
  text-align: center;
  font-size: 1.5vw;
  line-height: 3vw;
  transform: rotate(-90deg);
  background-color: #e6e6e6;
  color: red;
}

.and{
  background-color: white;
  color: red;
}

/*half screen*/
.split {
  height: 100%;
  width: 48.5vw;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* above titles */
.spacer{
  min-height:20vh;
}

/*writing*/
.left {
  left: 3vw;
  background-color: #e6e6e6;
  color: black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: rgba(250,20,20,1);
}

.writingnav{
  width: 48.5vw;
  height: 12vw;
  background-color: #e6e6e6;
  z-index: 10;
  position: fixed;
  left: 3vw;
  top: 0;
  overflow: hidden;
  line-height: 3vw;
  border-bottom: 3px solid red;
}

.writingicon{
  width: 48.5vw;
  height: 3vw;
  background-color: #e6e6e6;
  z-index: 11;
  border-bottom: 3px solid red;
}

/* WRITING SECTION */

.writing{
  display: inline;
  height: 100%;
}

.scroll{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 10;
  min-width: 500px;
  height: 100%;
  width: 48.5vw;
  -moz-column-fill: auto; /* Firefox */
  column-fill: auto;
  column-gap: 40px;
  column-rule: 1px solid red;
  column-width: 12vw; 
  text-align: justify;
  text-justify: inter-word;
  text-align-last: start;
  overflow: auto;
  display: block;
  padding-left: 50px;
  padding-top: 12vw;
  padding-right: 100px;
  padding-bottom: 20px;
  margin-right: 50px;
}

/* width */
.scroll::-webkit-scrollbar {
  height: 30px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background-color: #e6e6e6;
  border-top: 3px solid red;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  border: 2px solid red;
  background-color: red;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: red; 
  cursor: grab;
}


/* PROJECTS */
.right {
  right: 0;
  font-size: 25px;
  background-color: blue;
  color: #e6e6e6;
  padding: 0px;
  border-left: 3px solid red;
}

.right::-webkit-scrollbar{
 display: none;
}



/* PROJECT NAV */
.projects-nav {
  width: 60vw;
  height: 12vw;
  position: fixed;
  overflow: hidden;
  background-color: #e6e6e6;
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  z-index: 50;
 cursor: pointer;
}

.projects-nav-cell {
  width: 12vw;
  height: 12vw;
  counter-increment: gallery-cell;
  border-left: 3px solid red;
  cursor: pointer;
}

.nav-image{
 width: 9vw;
 height: 9vw;
 margin: 1.5vw;
 overflow: hidden;
 cursor: pointer;
 border: 3px solid red;
}

.james{
 background: #e6e6e6;
}

.jimmy{
  background: #e6e6e6;
}

.projects{
 position: fixed;
 top: 12vw;
 left: 51.5vw;
 padding: 20px;
 background-color: pink;
 z-index: 5;
}

